body,h1,h2,h3,p,span,img,input,div,a,section,header,footer,ul,li,ol{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}
body{
    height: 100%;
    background-color: rgb(250, 248, 229);
    overflow: hidden;
}

li,ul,ol{
    list-style: none;
}